@import '_variables';
.cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .remove {
    background-color: $danger;
    color: white;
    border: 0;
    border-radius: 2px;
  }
  .total {
    margin-top: 30px;
    font-size: 26px;
    span {
      font-weight: 700;
    }
  }
  .checkout__container {
    width: 100%;
    h1 {
      text-align: center;
    }
    .form__container {
      display: flex;
      justify-content: space-between;
    }
  }
}
