@import '_variables';

.header {
  .logo {
    img {
      width: 42px;
      margin-right: 8px;
      margin-bottom: 3px !important;
    }
    span {
      color: $red;
    }
  }

  .header__list {
    .mr-4 {
      display: inline-block;
      .cart {
        font-size: 25px;
        color: $red;
      }
    }
  }
}
