.search__bar {
  min-width: auto;

  .search__bar__input {
    position: relative;
    input {
      display: block;
      min-width: auto !important;
      padding: 4px 32.5px;
      height: 50px;
      line-height: 20px;
      overflow: visible;
      color: #303336;
      border: 0;
      border: 0.4px solid rgb(218, 218, 218);
      border-radius: 4px;
      margin-right: 20px;
    }
    input:focus {
      outline-offset: 0px !important;
      outline: none !important;
      border: 1px solid $primary-color;
      padding: 4px 32.5px;
    }
    .search_logo {
      overflow: hidden;
      position: absolute;
      top: 17px;
      left: 10px;
      display: block;
      text-align: center;
      pointer-events: none;
      color: #959da5;
    }
  }
}
