@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font: 'Poppins';

$black: #030303;
$success: #2c974b;
$danger: #d30e15;
$primary-color: #03071e;
$secondary-color: #4a8cff;
